<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:include="/include/header :: headerfragment"></head>

<body>
<div th:include="/include/navigation :: navigation"></div>

<div class="form-group col-sm-6">
  <form action="/team" method="post">
    <input type="text" placeholder="프로젝트 이름" class="form-control" name="project_name" />
    <input class="btn btn-primary" type="submit" value="만들기"/>
  </form>
</div>

<div th:include="/include/footer :: footer"></div>
</body>

</html>