<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:include="/include/header :: headerfragment">

<body>
<div th:include="/include/navigation :: navigation"></div>
<div class="container-fluid">
  <div class="container">
    <div class="container" style="margin: 30px 0">
      <form>
        <div class="row">
          <div class="col-2"><span>아이디</span></div>
          <div class="col-3"><input type="text" class="form-control" id="text-id"></div>
          <div class="col-2"><span>비밀번호</span></div>
          <div class="col-3"><input type="password" class="form-control" id="text-password"></div>
          <div class="col-2">
            <button type="button" class="btn btn-primary" id="btn-sync">조회</button>
            <button type="button" class="btn btn-success" id="btn-save">저장</button>
          </div>
        </div>
      </form>
    </div>
    <div class='tab'>
      <table id='timetable' border='0' cellpadding='0' cellspacing='0'>
        <tr class='days'>
          <th></th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
        </tr>
        <tr>
          <td class='time' data-time='1A'>9:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class='time' data-time='1B'>9:30</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class='time' data-time='2A'>10:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class='time' data-time='2B'>10:30</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class='time' data-time='3A'>11:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class='time' data-time='3B'>11:30</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class='time' data-time='4A'>12:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class='time' data-time='4B'>12:30</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class='time' data-time='5A'>13:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class='time' data-time='5B'>13:30</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class='time' data-time='6A'>14:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class='time' data-time='6B'>14:30</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class='time' data-time='7A'>15:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class='time' data-time='7B'>15:30</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class='time' data-time='8A'>16:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class='time' data-time='8B'>16:30</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class='time' data-time='9A'>17:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class='time' data-time='9B'>17:30</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class='time' data-time='10A'>18:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class='time' data-time='10B'>18:30</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class='time' data-time='11A'>19:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class='time' data-time='11B'>19:30</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class='time' data-time='12A'>20:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class='time' data-time='12B'>20:30</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class='time' data-time='13A'>21:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class='time' data-time='13B'>21:30</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class='time' data-time='14A'>22:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>


  <!-- 스케쥴 입력창 모달 -->
  <div class="modal fade" id="modal-schedule" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">일정 추가</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>날짜: <span id="modal-schedule-day">요일</span></p>
          <p>시작 시간: <span id="modal-schedule-start-time">시작시간</span><span
              id="modal-schedule-start-hourCode">1A</span></p>
          <p>끝나는 시간: <span id="modal-schedule-end-time">끝시간</span><span
              id="modal-schedule-end-hourCode">1A</span></p>
          <input type="text" class="form-text" id="modal-schedule-text" size="15"
                 placeholder="일정내용 입력">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="modal-schedule-write"
                  data-dismiss="modal" onclick="scheduleWrite()">작성
          </button>
        </div>
      </div>
    </div>
  </div>

</div>

<div th:include="/include/footer :: footer"></div>
<script>
  var syncTimetableData;
  $('#btn-save').hide();

  $('#btn-sync').click(function (e) {
    var id = $('#text-id').val();
    var password = $('#text-password').val();

    if (id == '' || password == '') {
      alert('아이디, 비밀번호를 입력하세요');
      return;
    }

    $.ajax({
      url: 'http://localhost:8000/timetable?user_id=' + id + '&user_password=' + password,
      method: 'get',
      dataType: 'json',
      success: function (response) {
        console.log(response);

        if (response['result'] === 'success') {
          $('#btn-save').show();
          timetable(response);
          syncTimetableData = response;
        }
        else {
          alert(response['message']);
        }
      }
    });
  });

  function timetable(data) {
    var days = data['message'];
    var day_index = 0;

    for (var d in days) {
      var day = days[d];
      var timetables = day['timetables'];

      for (var t in timetables) {
        var course = timetables[t];

        var course_time = course['time'];
        var course_name = course['course_name'];

        var selector = '.time[data-time="' + course_time + '"]';
        $($(selector).siblings()[day_index]).addClass('purple');
      }

      day_index++;
    }
  }
  $('#btn-save').click(function () {
    var data = parseTimetableToServer(syncTimetableData);

    $.ajax({
      url: '/api/timetable/sync',
      method: 'post',
      contentType: 'application/json',
      dataType: 'json',
      data: JSON.stringify(data),
      beforeSend: function(xhr) {
        xhr.setRequestHeader('TiCo-Token', token);
      },
      success: function (response) {
        console.log(response);

        if (response['result'] === true) {
          alert('저장되었습니다.');
        } else {
          alert('동기화 서버 에러 발생');
        }
      }
    });

  });

  function parseTimetableToServer(json) {
    var parseData = {};
    var schedules = [];

    if (json['result'] == 'success') {
      var datas = json['message'];

      for (var _date in datas) {
        var data = datas[_date];
        var _timetables = data['timetables'];

        var schedule = {};
        var hours = [];
        var _bName = _timetables[0]['course_name'];

        for (var j = 0; j < _timetables.length; j++) {
          var _cName = _timetables[j]['course_name'];
          if (_bName != _cName) {
            schedule["name"] = _bName;
            schedule["day"] = fullDateToDate(_date);
            schedule["hours"] = hours;
            schedules.push(schedule);

            schedule = {};
            hours = [];
          }

          hours.push(_timetables[j]['time']);
          var _bName = _timetables[j]['course_name'];
        }
        schedule["name"] = _bName;
        schedule["day"] = fullDateToDate(_date);
        schedule["hours"] = hours;
        schedules.push(schedule);
      }
    }

    parseData["name"] = "Sync Timetable";
    parseData["schedules"] = schedules;

    return parseData;
  }

  function fullDateToDate(date) {
    switch (date) {
      case 'monday':
        return 'MON';
      case 'tuesday':
        return 'TUE';
      case 'wednesday':
        return 'WED';
      case 'thursday':
        return 'THU';
      case 'friday':
        return 'FRI';
    }
  }

</script>
</body>

</html>
