<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:include="/include/header :: headerfragment">

<body>
<div th:include="/include/navigation :: navigation"></div>

<div class="form-group col-sm-6">
  <form action="/timetable/create" method="post">
    <input type="text" placeholder="일정표 이름" class="form-control" name="timetable_name" />
    <input class="btn btn-primary" type="submit" value="만들기"/>
  </form>
</div>

<div th:include="/include/footer :: footer"></div>

</body>

</html>
