<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:include="/include/header :: headerfragment">

<body>
    <div th:include="/include/navigation :: navigation"></div>
    <div class="jumbotron">
        <h1>TiCo</h1>
        <p>시간표를 비교하여 프로젝트 미팅이 가능한 시간을 추천해주는 서비스<br></p>
    </div>

    <div>
        <h3>Token</h3>
        <h5 th:text="${user?.token}"></h5>
    </div>
    <div th:include="/include/footer :: footer"></div>
</body>

<script th:inline="javascript">
    console.log(token);
</script>

</html>