<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:include="/include/header :: headerfragment">

<body>
    <div th:include="/include/navigation :: navigation"></div>
    <div class="register-photo">
        <div class="form-container">
            <div class="image-holder"></div>
            <form th:action="@{/user/join}" method="post">
                <h2 class="text-center"><strong>회원가입</strong></h2>
                <div class="form-group"><input class="form-control" type="text" name="id" placeholder="아이디"></div>
                <div class="form-group"><input class="form-control" type="password" name="password" placeholder="비밀번호"></div>
                <div class="form-group"><input class="form-control" type="text" name="name" placeholder="이름"></div>
                <div class="form-group"><input class="form-control" type="text" name="studentNo" placeholder="학번"></div>

                <div th:if="${param.error}">
                    <strong>이미 존재하는 아이디입니다.</strong>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
                </div>
                <a href="/user/login" class="already">You already have an account? Login here.</a>
            </form>
        </div>
    </div>

    <div th:include="/include/footer :: footer"></div>
</body>

</html>